<form action="<%= url %>" method="post">
  <%= auth_token %>
  <label>
    username
    <input type="text" name="user[username]" value="">
  </label>

  <label>
    password
    <input type="password" name="user[password]" value="">
  </label>

  <input type="submit" value="<%= button_type %>">
</form>
